## Import libraries

In [3]:
import pandas as pd
import numpy as np

## Set filenames

In [4]:
test_locations=pd.read_csv("Data/test_locations.csv")
test_customers=pd.read_csv("Data/test_customers.csv")
SS=pd.read_csv("Data/SampleSubmission.csv")
vendors=pd.read_csv("Data/vendors.csv")

## Customer details - test

In [5]:
test_customers

,akeed_customer_id,gender,dob,status,verified,language,created_at,updated_at
0,ICE2DJP,Male,NaN,1,1,EN,2018-02-07 16:45:36,2018-02-07 16:45:36
1,FWNUI71,Male,NaN,1,1,EN,2018-03-22 20:11:47,2018-03-22 20:11:47
2,LRX7BCH,Male,NaN,1,1,EN,2018-04-17 20:01:15,2018-04-17 20:01:15
3,D96DHMD,Male,NaN,1,1,EN,2018-04-29 22:35:52,2018-04-29 22:35:52
4,88Q8Y5V,Male,1997.0,1,1,EN,2018-05-05 12:38:09,2018-05-05 12:38:09
5,F2PO9F9,Male,NaN,1,1,EN,2018-05-05 18:45:13,2018-05-05 18:45:12
6,UD0G53Z,Male,NaN,1,1,EN,2018-05-07 04:22:31,2018-05-07 04:22:31
7,MXCWQ97,Male,NaN,1,1,EN,2018-05-07 04:22:53,2018-05-07 04:22:53
8,LMOSPO9,Male,NaN,1,1,EN,2018-05-08 17:51:51,2018-05-08 17:51:50
9,EI4ZPYN,Male,NaN,1,1,EN,2018-05-09 20:46:21,2020-03-20 19:20:32
10,TWTAOB3,Male,NaN,1,1,EN,2018-05-09 22:11:58,2018-05-09 22:11:58
11,BPEC7PT,Male,NaN,1,1,EN,2018-05-11 20:59:25,2018-05-11 20:59:25
12,MABD8M5,Male,NaN,1,1,EN,2018-05-11 23:41:14,2018-05-11 23:41:14
13,XL2LBC7,Male,NaN,1,1,EN,2018-05-12 15:04:22,2018-05-12 15:04:22
14,2S79UPJ,Male,NaN,1,1,EN,2018-05-12 16:17:04,2018-05-12 16:17:04
15,I170OY4,Male,NaN,1,1,EN,2018-05-12 17:17:14,2018-05-12 17:17:14
16,WMD3LKI,Male,NaN,1,1,EN,2018-05-12 18:13:59,2018-05-12 18:13:58
17,AZVBPGG,Male,NaN,1,1,EN,2018-05-12 18:59:40,2018-05-12 18:59:39
18,TMKIZFG,Male,NaN,1,1,EN,2018-05-12 19:52:30,2018-05-12 19:52:29
19,Q9MFT2D,Male,NaN,1,1,EN,2018-05-12 20:39:25,2018-05-12 20:39:24
20,9PF2G18,Female,2004.0,1,1,EN,2018-05-12 20:48:29,2018-05-12 20:48:28
21,EA5NPYE,Male,NaN,1,1,EN,2018-05-13 01:22:49,2018-05-13 01:22:48
22,WPJ2H4R,Male,NaN,1,1,EN,2018-05-13 03:13:17,2018-05-13 03:13:16
23,CW8CUNI,Male,NaN,1,1,EN,2018-05-13 10:39:03,2018-05-13 10:39:02
24,W1HI4ZD,Male,NaN,1,1,EN,2018-05-13 11:30:12,2018-05-13 11:30:12
25,LN5O1CB,Female,1989.0,1,1,EN,2018-05-13 11:46:09,2020-03-19 20:53:20
26,S0WVWM2,Male,NaN,1,1,EN,2018-05-13 20:05:49,2018-05-13 20:05:49
27,DICE8OD,Male,NaN,1,1,EN,2018-05-13 20:58:31,2018-05-13 20:58:30
28,TIV35LA,Female,1990.0,1,1,EN,2018-05-13 21:47:24,2020-02-24 21:32:51
29,NJUBCDB,Male,NaN,1,1,EN,2018-05-13 21:59:43,2018-05-13 21:59:42
...,...,...,...,...,...,...,...,...
9738,T1EBZ7Q,NaN,NaN,1,1,NaN,2020-03-02 16:50:28,2020-03-02 16:57:50
9739,3CV26U5,NaN,NaN,1,1,NaN,2020-03-02 18:36:46,2020-03-02 18:39:01
9740,94NRH8J,NaN,NaN,1,1,NaN,2020-03-02 18:59:49,2020-03-02 19:02:15
9741,BWUPQPS,NaN,NaN,1,1,NaN,2020-03-02 19:22:30,2020-03-02 19:22:37
9742,24J7GS1,NaN,NaN,1,0,NaN,2020-03-02 20:04:14,2020-03-02 20:04:14
9743,DRR4QXC,NaN,NaN,1,0,NaN,2020-03-02 20:23:19,2020-03-02 20:23:19
9744,8MKZ92H,NaN,NaN,1,1,NaN,2020-03-02 20:54:16,2020-03-02 20:55:33
9745,T4KFN2S,NaN,NaN,1,0,NaN,2020-03-02 21:15:15,2020-03-02 21:15:15
9746,6CHOWOY,NaN,NaN,1,1,NaN,2020-03-02 21:21:47,2020-03-02 21:23:48
9747,G9SKT5W,NaN,NaN,1,0,NaN,2020-03-02 21:25:14,2020-03-02 21:25:14
9748,U1QRESO,NaN,NaN,1,1,NaN,2020-03-02 21:28:44,2020-03-02 21:29:12
9749,WKRPA2U,NaN,NaN,1,1,NaN,2020-03-02 21:36:09,2020-03-02 21:37:40
9750,X5ZE5U2,NaN,NaN,1,1,NaN,2020-03-02 21:52:07,2020-03-03 09:54:31
9751,ILITPLC,NaN,NaN,1,1,NaN,2020-03-02 22:10:03,2020-03-02 22:10:13
9752,3OXQP7W,NaN,NaN,1,1,NaN,2020-03-02 22:26:24,2020-03-02 22:26:38
9753,KI8ZQ55,NaN,NaN,1,1,NaN,2020-03-02 23:06:20,2020-03-02 23:08:20
9754,Q0J79K0,NaN,NaN,1,0,NaN,2020-03-02 23:31:41,2020-03-02 23:31:41
9755,KJVZVEC,NaN,NaN,1,1,NaN,2020-03-02 23:37:15,2020-03-02 23:38:07
9756,HVFYMK5,NaN,NaN,1,1,NaN,2020-03-03 00:04:26,2020-03-03 00:06:24
9757,DI4OL87,NaN,NaN,1,1,NaN,2020-03-03 00:42:24,2020-03-03 00:43:01
9758,2SH9AHX,NaN,NaN,1,1,NaN,2020-03-03 00:43:02,2020-03-03 00:44:22
9759,STXE0Y6,NaN,NaN,1,1,NaN,2020-03-03 00:43:05,2020-03-03 00:43:12
9760,RJEWB9U,NaN,NaN,1,1,NaN,2020-03-03 03:02:00,2020-03-03 03:03:04
9761,OWUXV7R,NaN,NaN,1,1,NaN,2020-03-03 11:28:34,2020-03-03 11:29:10
9762,LGYUMAO,NaN,NaN,1,1,NaN,2020-03-03 11:58:19,2020-03-03 11:58:24
9763,369I4YD,NaN,NaN,1,1,NaN,2020-03-03 12:03:03,2020-03-03 12:03:16
9764,VUOXW5K,NaN,NaN,1,1,NaN,2020-03-03 12:17:09,2020-03-03 14:04:41
9765,H1S2T2Y,NaN,NaN,1,1,NaN,2020-03-03 12:23:20,2020-03-03 12:24:20
9766,QGPCD5S,NaN,NaN,1,1,NaN,2020-03-03 13:18:23,2020-03-03 13:18:39
9767,RMPE9Z1,NaN,NaN,1,1,NaN,2020-03-03 13:40:30,2020-03-03 13:40:40

In [6]:
print(test_customers['akeed_customer_id'].value_counts())
print(test_customers.shape)

JGRG3RQ    4
DSJRR66    3
4X2Y51H    3
P4MAWAE    3
DZORPPZ    2
3DDZLWQ    2
II7YY1M    2
YM0OIRI    2
JKC18K2    2
WG3CZDG    2
MDUWLPC    1
4EKRJFG    1
ES2BE16    1
3DF7TOX    1
EA5NPYE    1
12GFZGW    1
UPQCKIK    1
9O7Y6A1    1
VHIHEPQ    1
NWR45GQ    1
I5F4POW    1
5JV4WD1    1
IHH1WVA    1
XE4YJXH    1
MN46J89    1
8HG4CHR    1
DU9A0O7    1
BKXP22V    1
BVSFJ37    1
A41KXMN    1
          ..
JO70CWH    1
K3XDVQJ    1
6XWZJKR    1
QCE2U27    1
KKHAY7F    1
ULWDX2K    1
A3JXYNF    1
GJ7LWHI    1
WEAKDYG    1
X0L2O4Z    1
SXRVCN2    1
X4H5BCL    1
VXP7J7Y    1
ZS8505G    1
4BWWW8G    1
TAMG1XU    1
9O1ICB3    1
RI5O4NR    1
Y8K4C9F    1
4D9JPFJ    1
UAXKGCJ    1
9G8XZ20    1
IUF2934    1
5O0Q0KM    1
WKHAYDZ    1
5XLOIY5    1
9R9NYR1    1
QWV07UB    1
YLXZVUK    1
IHOFIPH    1
Name: akeed_customer_id, Length: 9753, dtype: int64
(9768, 8)

In [7]:
test_customers=test_customers.sort_values(by=["dob","verified"],ascending=False)

In [8]:
test_customers.drop_duplicates(subset='akeed_customer_id',keep='first',inplace=True)

In [9]:
print(test_customers['akeed_customer_id'].value_counts())
print(test_customers.shape)

5JV4WD1    1
9KPWFJ1    1
MDUWLPC    1
74L8K11    1
3DF7TOX    1
UPQCKIK    1
9O7Y6A1    1
VHIHEPQ    1
NWR45GQ    1
IHH1WVA    1
1BMCRI0    1
HIFQK0H    1
8UPC6X3    1
W7X8QO5    1
OYZPZ6Q    1
WZ9XIV1    1
9XBGWYB    1
U9ICXW4    1
ES2BE16    1
4EKRJFG    1
30RZZNU    1
12GFZGW    1
BKXP22V    1
3UERMZE    1
A41KXMN    1
ZWW38GZ    1
LGP9U4I    1
YF4DSQ4    1
YDERRRO    1
4DJ35RA    1
          ..
J8ABP11    1
U2V3DK5    1
6W1H164    1
NHCMEIV    1
1X1JXZJ    1
JO70CWH    1
4ZISVAF    1
K3XDVQJ    1
6XWZJKR    1
QCE2U27    1
9R9NYR1    1
WKHAYDZ    1
2XNGL9Q    1
5O0Q0KM    1
1SOONSZ    1
YPHAHHV    1
VXP7J7Y    1
4BWWW8G    1
TAMG1XU    1
9O1ICB3    1
RI5O4NR    1
Y8K4C9F    1
4D9JPFJ    1
C6R7ZAL    1
YCJ1943    1
9G8XZ20    1
WP11GVM    1
LL56UG3    1
IUF2934    1
IHOFIPH    1
Name: akeed_customer_id, Length: 9753, dtype: int64
(9753, 8)

## Customer location details - test

In [10]:
test_locations

      customer_id  location_number location_type    latitude  longitude
0         Z59FTQD                0           NaN  126.032278  -9.106019
1         0JP29SK                0          Home    0.278709 -78.623847
2         0JP29SK                1          Home    0.124485 -78.605621
3         0JP29SK                2           NaN   -0.113891 -78.577449
4         0JP29SK                3           NaN   -0.848796   0.136726
5         0JP29SK                4           NaN   -0.117798   0.498577
6         0JP29SK                5           NaN    0.277859   0.291459
7         0JP29SK                6          Home    0.123710   0.457748
8         R1ONHAU                0           NaN    1.512611   0.637831
9         D1CUMM9                0          Home   -0.090105 -78.580260
10        D1CUMM9                1          Home   -0.460103 -78.536533
11        D1CUMM9                2         Other    0.109178 -78.603812
12        D1CUMM9                3         Other   -0.458302   0.735859
13        D1CUMM9                4           NaN   -0.162046   0.512958
14        D1CUMM9                5           NaN   -0.260703   0.535115
15        D1CUMM9                6           NaN   -0.090651   0.791121
16        D1CUMM9                7           NaN   -0.957323   0.106986
17        X09I4HL                0          Work   -0.186487 -78.568870
18        X09I4HL                1          Home   -0.031364   0.545509
19        X09I4HL                2          Home   -0.163167   0.791888
20        Q2TSRDZ                0          Home   -0.963038  -0.254114
21        CNMKBT4                0           NaN   19.232715   3.001320
22        PYI9ZX7                0          Home   -0.092596 -78.579966
23        PYI9ZX7                1           NaN    0.054872 -78.597394
24        6IQQZPV                0          Home   -1.004837 -78.472156
25        6IQQZPV                1           NaN   -0.437882   0.090571
26        T29AM2E                0           NaN    0.006641   0.845968
27        9AFU2ON                0          Home    0.696712 -78.673248
28        J8FBC71                0           NaN   -1.949329 -78.360534
29        XW6J1A9                0           NaN   19.314212   3.030219
...           ...              ...           ...         ...        ...
16690     3JO945I                0          Home   -0.615488 -78.518170
16691     3JO945I                1          Home   -0.619454   0.142860
16692     GIRGO97                0           NaN   -0.091290  -0.008400
16693     VHZTJ7J                0          Home   -0.696428   0.215438
16694     Z48DGLU                0           NaN    0.961072   0.425649
16695     Z48DGLU                1          Home   -1.036694   0.163652
16696     CENUB7X                0           NaN   -1.275799   0.106589
16697     Q8W9250                0           NaN   -0.737237   0.152479
16698     6O8DVX2                0           NaN   -0.233660   0.858840
16699     0UOYALS                0          Home   -1.229139 -78.445647
16700     Q8VTPKM                0          Work    0.046268 -78.596377
16701     Q8VTPKM                1           NaN    0.267559 -78.622530
16702     Q8VTPKM                2          Work    0.047454   0.578849
16703     IWFKOMP                0           NaN    0.281405   0.595144
16704     G49BIQ7                0          Home    2.042852 -78.832337
16705     FJWZAAR                0          Home   -0.130139 -78.575529
16706     IUF2934                0         Other    0.871598 -78.693916
16707     IUF2934                1           NaN    0.870902   0.426517
16708     IUF2934                2           NaN    1.119896   0.666994
16709     CKC3YVV                0          Home    0.691785   0.518701
16710     CKC3YVV                1          Home   -0.760491   0.795222
16711     L9G4OFV                0          Work   -0.350741 -78.549458
16712     L9G4OFV                1          Work    0.598042 -78.661587
16713     L9G4OFV                2          Home   -0.308379   0.667228
16714     L9G4OFV                3           NaN   -0.512543   0.697664
16715     L9G4OFV                4           NaN   -0.197722   0.609199
16716     L9G4OFV                5           NaN   -0.343042   0.626064
16717     FDZFYBA                0          Home   -0.974907  -0.177863
16718     UTKHR1C                0         Other    1.058539   0.001628
16719     3O8LSR3                0         Other   -0.188562   0.827181

[16720 rows x 5 columns]

In [11]:
print(test_locations['customer_id'].value_counts())
print(test_locations.shape)

T1L5K29    12
PEHRJ52    11
NQJU5X3    10
529ZR7J    10
BKLWPZ8     9
FLQKCT8     9
240EZSU     9
2U9M7XW     9
Y5FESJ0     9
1ILTBK0     9
3HP8GAC     9
Q3IH11V     8
B628SUM     8
R1AZJPP     8
BXPW3O0     8
D1CUMM9     8
MKAEKR4     8
21UCQTA     8
XO1Q4TR     8
J2599SR     8
Z5JFGMH     8
3SXIVOX     8
KR3L0HZ     8
LFY4ZMA     8
ZOG5V7P     8
TO3XVPB     8
D1IEXJV     7
8T0Y530     7
D84NV9U     7
9L1T707     7
           ..
XUVFL0J     1
0EAF0X4     1
HC044BM     1
4PCJ03V     1
RE4I0EL     1
67LY1ID     1
QL1OSLT     1
L766LVD     1
RAFG48H     1
V8DQZTM     1
THFS8GR     1
CPF7939     1
B8ET0V1     1
157ZM3T     1
FHW9QK9     1
EY98019     1
LPRFXM4     1
HL3H6ZN     1
QMU9GTH     1
ROHZT8V     1
8AQRN2T     1
J3NCJ69     1
1QEMWIX     1
LCNZ96L     1
D3CAACN     1
EACRQEH     1
VQ3BF8U     1
IZHLA7U     1
FXCCUCK     1
IHOFIPH     1
Name: customer_id, Length: 10000, dtype: int64
(16720, 5)

In [12]:
test_customers=test_customers.sort_values(by=["dob","verified"],ascending=False)

## Merging all customer information

In [13]:
cust_loc=pd.merge(test_customers,test_locations,how="outer",left_on='akeed_customer_id',right_on='customer_id') #Outer merge since for each ustomer there are multiple locations
#del cust_loc['customer_id']
cust_loc

,akeed_customer_id,gender,dob,status,verified,language,created_at,updated_at,customer_id,location_number,location_type,latitude,longitude
0,A4MOSNP,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,-1.173558,-78.452216
1,CXH0U5P,Female,2021.0,1.0,1.0,EN,2019-08-18 22:24:39,2019-10-01 18:54:07,CXH0U5P,0,Other,-0.380967,-78.545886
2,CXH0U5P,Female,2021.0,1.0,1.0,EN,2019-08-18 22:24:39,2019-10-01 18:54:07,CXH0U5P,1,NaN,-0.366625,0.840681
3,E1K8PTT,Female,2020.0,1.0,1.0,EN,2018-10-12 15:25:23,2020-02-21 19:12:18,E1K8PTT,0,NaN,1.086388,-78.719300
4,E1K8PTT,Female,2020.0,1.0,1.0,EN,2018-10-12 15:25:23,2020-02-21 19:12:18,E1K8PTT,1,Home,0.101958,0.349798
5,4E0JNTT,Male,2020.0,1.0,1.0,EN,2018-11-04 21:02:13,2020-03-27 05:30:12,4E0JNTT,0,Home,0.033784,-78.594902
6,4E0JNTT,Male,2020.0,1.0,1.0,EN,2018-11-04 21:02:13,2020-03-27 05:30:12,4E0JNTT,1,NaN,0.034080,-0.008987
7,4E0JNTT,Male,2020.0,1.0,1.0,EN,2018-11-04 21:02:13,2020-03-27 05:30:12,4E0JNTT,2,Work,0.316615,0.085192
8,KNNH93L,Female,2020.0,1.0,1.0,EN,2018-12-07 00:15:52,2020-01-13 08:55:39,KNNH93L,0,Home,0.404910,0.499421
9,8LDEF8L,Female,2020.0,1.0,1.0,EN,2018-12-16 12:57:59,2020-01-30 17:12:31,8LDEF8L,0,Home,-0.126450,-78.575965
10,8LDEF8L,Female,2020.0,1.0,1.0,EN,2018-12-16 12:57:59,2020-01-30 17:12:31,8LDEF8L,1,NaN,-0.127050,-0.001696
11,8NN3E5H,Male,2020.0,1.0,1.0,EN,2019-02-18 16:01:11,2020-01-07 18:43:11,8NN3E5H,0,NaN,-0.264708,0.678506
12,H79FFNX,Female,2020.0,1.0,1.0,EN,2019-06-11 14:53:23,2020-01-08 14:41:18,H79FFNX,0,Work,-0.079728,-78.581487
13,3M1P1PT,Male,2020.0,1.0,1.0,EN,2019-09-05 23:43:47,2019-12-11 20:15:07,3M1P1PT,0,NaN,-0.112868,0.147101
14,8UPC6X3,Female,2020.0,1.0,1.0,EN,2019-09-24 22:48:14,2020-03-12 21:25:27,8UPC6X3,0,Home,-0.763547,-78.500672
15,8UPC6X3,Female,2020.0,1.0,1.0,EN,2019-09-24 22:48:14,2020-03-12 21:25:27,8UPC6X3,1,NaN,-0.626330,-78.516888
16,8UPC6X3,Female,2020.0,1.0,1.0,EN,2019-09-24 22:48:14,2020-03-12 21:25:27,8UPC6X3,2,NaN,-0.625596,0.187894
17,8UPC6X3,Female,2020.0,1.0,1.0,EN,2019-09-24 22:48:14,2020-03-12 21:25:27,8UPC6X3,3,NaN,-0.760836,0.795449
18,L80BGDZ,Female,2020.0,1.0,1.0,EN,2019-10-01 01:29:25,2020-03-19 19:51:40,L80BGDZ,0,NaN,0.671154,0.431264
19,E78S8X8,Male,2020.0,1.0,1.0,EN,2019-10-01 01:30:05,2020-02-23 22:21:42,E78S8X8,0,NaN,-0.116041,-78.577195
20,QNEPRHE,Female,2020.0,1.0,1.0,NaN,2019-11-24 20:46:22,2020-01-27 20:52:50,QNEPRHE,0,Home,0.614186,0.542317
21,IR083T0,Female,2020.0,1.0,1.0,NaN,2019-12-06 17:39:57,2020-03-24 04:04:51,IR083T0,0,Work,-0.421913,0.052142
22,VB4XLNB,Male,2020.0,1.0,1.0,NaN,2020-01-02 02:14:40,2020-02-03 21:54:01,VB4XLNB,0,Home,0.197882,0.586327
23,19Z463S,Female,2020.0,1.0,1.0,NaN,2020-01-07 12:04:23,2020-04-08 01:41:21,19Z463S,0,Work,-96.407660,43.557974
24,TD46KT4,Male,2020.0,1.0,1.0,NaN,2020-01-23 22:04:15,2020-02-17 20:27:49,TD46KT4,0,NaN,-0.391352,0.693378
25,9ZZPGCY,Male,2020.0,1.0,1.0,NaN,2020-02-03 04:27:53,2020-02-08 23:34:28,9ZZPGCY,0,NaN,12.378965,-1.438536
26,A47L264,Male,2020.0,1.0,1.0,NaN,2020-02-04 20:55:35,2020-02-04 21:01:56,A47L264,0,NaN,19.256063,3.029490
27,H0X3SS3,Female,2020.0,1.0,1.0,NaN,2020-02-10 01:32:31,2020-02-10 23:49:51,H0X3SS3,0,NaN,13.905164,-1.462473
28,VLZUSHD,Male,2020.0,1.0,1.0,NaN,2020-02-13 12:38:45,2020-02-13 12:42:46,VLZUSHD,0,NaN,126.329095,-9.112875
29,60EOFEB,Male,2020.0,1.0,1.0,NaN,2020-02-16 15:18:10,2020-02-16 15:47:10,60EOFEB,0,NaN,0.437868,0.489791
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2VDKYAE,0,NaN,-0.091048,-78.580149
16691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2VDKYAE,1,NaN,-0.091939,0.082613
16692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DDCB4J5,0,NaN,-15.793929,-3.322004
16693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QYMTNJO,0,NaN,-0.507628,-0.159007
16694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HSBXLC3,0,NaN,-0.023765,0.643445
16695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HSBXLC3,1,Other,-0.814658,0.709870
16696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RX1Y7NS,0,NaN,0.073855,0.826969
16697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MTLY44L,0,NaN,-0.595954,0.062079
16698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VMRAGFD,0,NaN,-0.208868,0.274163
16699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YWIPS98,0,Work,-0.194115,-78.567968
16700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M995TOM,0,Home,-0.005944,0.604496
16701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VCYK1CE,0,Home,-0.417246,0.698619
16702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X86CRSP,0,Home,-0.165991,-78.571292
16703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IYR2HER,0,Work,-0.081972,0.523928
16704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1IWSTU2,0,Home,-0.008431,0.537480
16705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B15VBZU,0,NaN,-0.965429,-78.476813
16706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YNSIP6V,0,NaN,-0.113829,-78.577457
16707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YNSIP6V,1,Home,-0.107141,-0.000982
16708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TMPSBMN,0,Home,-0.081823,-78.581239
16709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TMPSBMN,1,Work,-0.084754,-0.005043
16710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BEFHGQB,0,NaN,-0.172877,-78.570478
16711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BEFHGQB,1,Home,-1.292120,-78.438204
16712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BEFHGQB,2,Home,-1.290143,-0.087542
16713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WTVO9E2,0,NaN,-2.067913,-0.047320
16714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KF3B1KD,0,Home,-0.330705,-78.551826
16715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KF3B1KD,1,Home,-0.328834,0.660301
16716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KF3B1KD,2,Home,-0.363342,0.688674
16717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y7S82NG,0,NaN,-0.475803,0.082508
16718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VHZTJ7J,0,Home,-0.696428,0.215438
16719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,2.042852,-78.832337

In [14]:
cust_loc['customer_id'].isnull().sum()

0

In [15]:
#Delete akeed_customer_id since it has many null values
del cust_loc['akeed_customer_id']

In [16]:
cust_loc=cust_loc.rename(columns={"customer_id":"CID","location_number":"LOC_NUM"})

In [17]:
len(cust_loc)

16720

## Vendor Info

In [18]:
vendors

,id,authentication_id,latitude,longitude,vendor_category_en,vendor_category_id,delivery_charge,serving_distance,is_open,OpeningTime,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at,device_type,display_orders
0,4,118597.0,-0.588596,0.754434,Restaurants,2.0,0.0,6.0,1.0,11:00AM-11:30PM,...,1.0,"2,4,5,8,91,22,12,24,16,23","Arabic,Breakfast,Burgers,Desserts,Free Deliver...",Y,1.0,1.0,2018-01-30 14:42:04,2020-04-07 15:12:43,3,1
1,13,118608.0,-0.471654,0.744470,Restaurants,2.0,0.7,5.0,1.0,08:30AM-10:30PM,...,1.0,"4,41,51,34,27,15,24,16,28","Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...",Y,1.0,1.0,2018-05-03 12:32:06,2020-04-05 20:46:03,3,1
2,20,118616.0,-0.407527,0.643681,Restaurants,2.0,0.0,8.0,1.0,08:00AM-10:45PM,...,1.0,"4,8,91,10","Breakfast,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-05-04 22:28:22,2020-04-07 16:35:55,3,1
3,23,118619.0,-0.585385,0.753811,Restaurants,2.0,0.0,5.0,1.0,10:59AM-10:30PM,...,1.0,"5,8,30,24","Burgers,Desserts,Fries,Salads",Y,1.0,1.0,2018-05-06 19:20:48,2020-04-02 00:56:17,3,1
4,28,118624.0,0.480602,0.552850,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:45PM,...,1.0,5,Burgers,Y,1.0,1.0,2018-05-17 22:12:38,2020-04-05 15:57:41,3,1
5,33,118629.0,-0.494654,0.743318,Restaurants,2.0,0.7,6.0,1.0,11:00AM-10:30PM,...,1.0,"8,42","Desserts,Mexican",Y,1.0,1.0,2018-05-24 17:23:13,2020-04-07 15:04:57,3,1
6,43,118639.0,-0.115010,0.545973,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:45PM,...,1.0,"1,5,30,16","American,Burgers,Fries,Sandwiches",Y,1.0,1.0,2018-06-20 12:28:00,2020-04-07 16:56:57,3,1
7,44,118640.0,-0.936556,0.081933,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:45PM,...,1.0,"1,5,30,16","American,Burgers,Fries,Sandwiches",Y,1.0,1.0,2018-06-20 13:11:17,2020-04-07 20:09:27,3,1
8,55,118651.0,-1.170154,0.103477,Restaurants,2.0,0.7,10.0,1.0,09:00AM-11:30PM,...,1.0,"4,8,22,32,24,16,28","Breakfast,Desserts,Grills,Milkshakes,Salads,Sa...",Y,1.0,1.0,2018-07-22 13:18:35,2020-04-02 19:49:47,3,1
9,66,118662.0,0.487488,0.565050,Restaurants,2.0,0.0,15.0,1.0,05:00PM-11:00PM,...,1.0,"4,5,8,10,24","Breakfast,Burgers,Desserts,Indian,Salads",Y,1.0,1.0,2018-08-09 19:26:57,2020-04-02 11:41:23,3,1
10,67,118663.0,-0.181038,0.490518,Restaurants,2.0,0.0,15.0,1.0,08:00AM-11:30PM,...,1.0,"4,8,22,32,24,16,28","Breakfast,Desserts,Grills,Milkshakes,Salads,Sa...",Y,1.0,1.0,2018-08-09 23:41:57,2020-04-07 12:25:19,3,1
11,75,118672.0,-0.600423,0.755909,Restaurants,2.0,0.7,5.0,1.0,11:00AM-10:30PM,...,1.0,"3,8,9,11,24,54","Asian,Desserts,Healthy Food,Japanese,Salads,Sushi",Y,1.0,1.0,2018-08-22 15:10:17,2020-04-02 00:52:21,3,1
12,76,118673.0,0.256335,0.576670,Restaurants,2.0,0.7,15.0,1.0,08:30AM-09:30PM,...,1.0,"16,4,5,52","Sandwiches,Breakfast,Burgers,Mojitos",Y,1.0,1.0,2018-08-26 14:45:29,2020-03-24 12:51:21,3,1
13,78,118675.0,-0.555404,0.196336,Restaurants,2.0,0.7,15.0,0.0,11:00AM-11:00PM,...,1.0,"15,34,4,28,27,24,8","Pizzas,Italian,Breakfast,Soups,Pasta,Salads,De...",Y,1.0,1.0,2018-08-26 21:47:55,2020-03-31 22:16:15,3,1
14,79,118676.0,0.634654,0.527255,Restaurants,2.0,0.0,15.0,1.0,11:59AM-2:15 am,...,1.0,"5,8,91,27,16","Burgers,Desserts,Free Delivery,Pasta,Sandwiches",Y,1.0,1.0,2018-08-26 22:36:05,2020-04-07 17:46:42,3,1
15,81,118678.0,-0.711962,0.063368,Restaurants,2.0,0.0,15.0,1.0,08:00AM-12:30PM,...,1.0,"2,4,8,53,13,24,16","Arabic,Breakfast,Desserts,Mandazi,Omani,Salads...",Y,1.0,1.0,2018-09-01 20:31:13,2020-04-04 13:38:28,3,1
16,82,118679.0,-0.417192,0.645850,Restaurants,2.0,0.7,8.0,1.0,08:00AM-11:59PM,...,1.0,"4,8,12,50,15,24,16","Breakfast,Desserts,Lebanese,Manakeesh,Pizzas,S...",Y,1.0,1.0,2018-09-03 19:30:50,2020-04-07 16:38:17,3,1
17,83,118680.0,-0.927944,0.145900,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:00PM,...,1.0,"4,8,24,2","Breakfast,Desserts,Salads,Arabic",Y,1.0,1.0,2018-09-13 20:40:13,2020-04-01 22:07:46,3,1
18,84,118681.0,-1.004923,0.078736,Restaurants,2.0,0.0,15.0,1.0,10:00AM-11:45PM,...,1.0,"5,30,48,23","Burgers,Fries,Kids meal,Shawarma",Y,1.0,1.0,2018-09-16 19:37:12,2020-04-07 21:08:27,3,1
19,85,118682.0,-0.600173,0.755861,Sweets & Bakes,3.0,0.0,5.0,1.0,11:59AM-11:30PM,...,1.0,"8,13","Desserts,Omani",Y,1.0,1.0,2018-09-16 20:01:04,2020-04-07 10:47:46,3,1
20,86,118683.0,-0.498135,0.058017,Sweets & Bakes,3.0,0.0,15.0,1.0,08:30AM-11:45PM,...,1.0,"41,51,8,57,38,43,32,62,25","Cakes,Crepes,Desserts,Donuts,Fresh Juices,Ice ...",Y,1.0,1.0,2018-09-20 19:39:21,2020-04-07 20:00:50,3,1
21,90,118687.0,-0.601096,0.095998,Restaurants,2.0,0.0,15.0,1.0,11:59AM-11:45PM,...,1.0,"1,5,8,52,27","American,Burgers,Desserts,Mojitos ,Pasta",Y,1.0,1.0,2018-10-04 19:41:36,2020-04-05 15:46:35,3,1
22,92,118689.0,-0.492188,0.744160,Restaurants,2.0,0.7,6.0,1.0,11:00AM-10:45PM,...,1.0,"3,38,48","Asian,Fresh Juices,Kids meal",Y,1.0,1.0,2018-10-07 17:26:18,2020-04-07 15:05:22,3,1
23,104,118701.0,-0.032442,0.655636,Restaurants,2.0,0.0,2.0,1.0,10:59AM-11:30PM,...,1.0,"1,5,91,29,27","American,Burgers,Free Delivery,Hot Dogs,Pasta",Y,1.0,1.0,2018-10-18 21:01:20,2020-04-03 22:28:50,3,1
24,105,118702.0,-0.967769,0.080839,Restaurants,2.0,0.0,15.0,1.0,10:59AM-11:30PM,...,1.0,"1,5,91,29,27","American,Burgers,Free Delivery,Hot Dogs,Pasta",Y,1.0,1.0,2018-10-19 12:38:55,2020-04-07 23:41:41,3,1
25,106,118703.0,0.618615,0.527193,Restaurants,2.0,0.0,15.0,1.0,10:59AM-11:30PM,...,1.0,"1,5,91,29,27","American,Burgers,Free Delivery,Hot Dogs,Pasta",Y,1.0,1.0,2018-10-19 13:35:56,2020-04-06 14:01:21,3,1
26,110,118707.0,0.016792,0.547941,Restaurants,2.0,0.7,15.0,1.0,11:15AM-10:00PM,...,1.0,"3,58,22,11,33,28","Asian,Dimsum,Grills,Japanese,Rice,Soups",Y,1.0,1.0,2018-10-21 22:21:40,2020-04-07 19:29:21,3,1
27,113,118710.0,0.630135,0.527052,Restaurants,2.0,0.0,15.0,1.0,10:59AM-10:59PM,...,1.0,"2,8,91,10","Arabic,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-10-24 18:11:35,2020-04-07 23:51:01,3,1
28,115,118712.0,0.578865,0.528270,Sweets & Bakes,2.0,0.0,15.0,1.0,09:59AM-11:45PM,...,1.0,"8,91,9,56","Desserts,Free Delivery,Healthy Food,Sweets",Y,1.0,1.0,2018-10-28 13:34:59,2020-04-06 13:44:19,3,1
29,134,118731.0,-0.056273,0.632289,Restaurants,2.0,0.0,15.0,0.0,8:00AM-09:45PM,...,1.0,"5,9,32,16,35","Burgers,Healthy Food,Milkshakes,Sandwiches,Steaks",Y,1.0,1.0,2018-11-27 15:33:42,2020-04-03 23:02:50,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,303,118905.0,0.005748,0.482281,Restaurants,2.0,0.7,15.0,1.0,08:00AM-3:30PM,...,1.0,"60,38,61,16,36","Coffee,Fresh Juices,Hot Chocolate,Sandwiches,S...",Y,1.0,1.0,2019-07-02 14:50:31,2020-03-31 13:23:57,3,1
71,304,118906.0,-1.267463,0.028361,Restaurants,2.0,0.7,10.0,1.0,10:00AM-11:15PM,...,1.0,"1,4,5,30,16","American,Breakfast,Burgers,Fries,Sandwiches",Y,1.0,1.0,2019-07-03 10:38:21,2020-04-02 12:35:56,3,1
72,310,118912.0,-0.016829,0.514580,Restaurants,2.0,0.7,15.0,1.0,09:00AM-07:00PM,...,1.0,"26,8,24","Bagels,Desserts,Salads",Y,1.0,1.0,2019-07-08 13:19:46,2020-04-06 17:42:15,3,1
73,356,118958.0,-0.845096,0.067013,Restaurants,2.0,0.0,15.0,1.0,11:00AM-111:00PM,...,1.0,"1,48,27,15,24","American,Kids meal,Pasta,Pizzas,Salads",Y,1.0,1.0,2019-07-25 13:07:10,2020-04-07 21:53:47,3,1
74,386,118989.0,-1.002137,0.078609,Sweets & Bakes,3.0,0.0,15.0,1.0,08:30AM-11:45PM,...,1.0,80,Churros,Y,1.0,1.0,2019-08-07 15:36:33,2020-04-08 03:45:41,3,1
75,391,118994.0,-0.624702,0.725120,Restaurants,2.0,0.7,5.0,1.0,9:00AM-11:00PM,...,1.0,"1,4,5,8,34,24,16,28,35","American,Breakfast,Burgers,Desserts,Italian,Sa...",Y,1.0,1.0,2019-08-08 14:16:34,2020-04-02 00:51:51,3,1
76,398,119001.0,-0.625127,0.099439,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:00PM,...,1.0,"13,2,77,27,33,28,12","Omani,Arabic,Shuwa,Pasta,Rice,Soups,Lebanese",Y,1.0,1.0,2019-08-19 19:04:11,2020-04-07 00:08:11,3,1
77,401,119004.0,0.001904,0.547155,Sweets & Bakes,3.0,0.7,15.0,1.0,10:00AM-11:15PM,...,1.0,"64,36","Frozen yoghurt,Smoothies",Y,1.0,1.0,2019-08-20 15:10:28,2020-04-06 00:50:19,3,1
78,419,119022.0,-0.476400,0.039740,Restaurants,2.0,0.7,15.0,1.0,11:00AM-12:00PM,...,1.0,"2,71,16","Arabic,Kushari,Sandwiches",Y,1.0,1.0,2019-08-27 15:53:48,2020-04-07 18:40:46,3,1
79,459,119063.0,-0.996063,-0.062283,Restaurants,2.0,0.0,10.0,1.0,11:59AM-11:59PM,...,1.0,"5,91,32,52","Burgers,Free Delivery,Milkshakes,Mojitos",Y,1.0,1.0,2019-09-10 19:04:26,2020-04-06 15:19:49,3,1
80,537,119141.0,-0.523719,0.052655,Restaurants,2.0,0.0,15.0,1.0,08:00AM-11:45-,...,1.0,"1,5,8,91,30,29,48","American,Burgers,Desserts,Free Delivery,Fries,...",Y,1.0,1.0,2019-10-15 00:42:12,2020-04-07 18:28:08,3,1
81,547,119151.0,0.049019,0.605368,Restaurants,2.0,0.7,10.0,1.0,09:00AM-11:59PM,...,1.0,"38,12,16,23","Fresh Juices,Lebanese,Sandwiches,Shawarma",Y,1.0,1.0,2019-10-21 15:38:18,2020-04-07 03:23:15,3,1
82,573,119180.0,2.015615,0.749220,Restaurants,2.0,0.0,15.0,1.0,04:59PM-11:45PM,...,1.0,"5,8,91,27,16","Burgers,Desserts,Free Delivery,Pasta,Sandwiches",Y,1.0,1.0,2019-01-30 12:53:54,2020-04-07 23:22:42,3,1
83,575,119182.0,-0.610692,0.072091,Sweets & Bakes,3.0,0.0,15.0,1.0,10:00AM-11:45PM,...,1.0,"60,62,86,25","Coffee,Pancakes,Spanish Latte,Waffles",Y,1.0,1.0,2018-11-01 12:13:53,2020-04-04 01:06:01,3,1
84,577,119184.0,-0.754900,0.219710,Restaurants,2.0,0.7,8.0,1.0,11:00AM-11:00PM,...,1.0,"5,8,49,24","Burgers,Desserts,Family Meal,Salads",Y,1.0,1.0,2018-10-02 17:11:04,2020-04-04 19:29:43,3,1
85,578,119187.0,0.553573,0.531361,Restaurants,2.0,0.7,15.0,0.0,12:00PM-11:59PM,...,1.0,"38,16,23","Fresh Juices,Sandwiches,Shawarma",Y,1.0,1.0,2019-10-21 13:10:10,2020-04-05 12:01:26,3,1
86,582,119200.0,-0.185825,0.482451,Restaurants,2.0,0.7,15.0,1.0,12:00PM-11:59PM,...,1.0,"38,16,23","Fresh Juices,Sandwiches,Shawarma",Y,1.0,1.0,2019-10-21 14:36:50,2020-04-06 23:12:29,3,1
87,583,119276.0,-0.591273,0.095599,Restaurants,2.0,0.7,15.0,1.0,00:01AM-01:00AM,...,1.0,"38,16,23","Fresh Juices,Sandwiches,Shawarma",Y,1.0,1.0,2019-10-22 07:29:36,2020-04-07 20:09:45,3,1
88,676,124101.0,-0.116173,0.570707,Restaurants,2.0,0.7,14.0,1.0,9-22,...,1.0,"31,8,10,44,33","Biryani,Desserts,Indian,Kebabs,Rice",Y,1.0,1.0,2019-11-17 08:39:42,2020-04-07 15:31:12,3,1
89,679,124147.0,0.614094,0.527433,Restaurants,2.0,0.7,15.0,1.0,08:00AM-11:00PM,...,1.0,"31,8,10,44,33","Biryani,Desserts,Indian,Kebabs,Rice",Y,1.0,1.0,2019-11-17 13:27:17,2020-04-07 21:46:01,3,1
90,681,124250.0,-0.595325,0.095639,Restaurants,2.0,0.7,15.0,1.0,9-22,...,1.0,"31,8,10,44,33","Biryani,Desserts,Indian,Kebabs,Rice",Y,1.0,1.0,2019-11-18 08:07:10,2020-04-07 17:40:41,3,1
91,841,130436.0,-0.496138,0.740214,Restaurants,2.0,0.0,6.0,1.0,NaN,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 00:16:09,2020-04-07 15:09:12,3,1
92,843,130447.0,-1.269317,0.082343,Restaurants,2.0,0.0,5.0,1.0,NaN,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 12:31:16,2020-04-07 19:01:17,3,1
93,845,130450.0,-0.116904,0.181583,Restaurants,2.0,0.0,5.0,1.0,NaN,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 12:37:34,2020-04-08 03:43:30,3,1
94,846,130451.0,-0.441823,0.099479,Restaurants,2.0,0.0,6.0,1.0,NaN,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 12:40:36,2020-04-06 16:19:44,3,1
95,849,130455.0,-1.588060,-0.066441,Restaurants,2.0,0.0,10.0,1.0,NaN,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 12:47:39,2020-04-07 20:01:33,3,1
96,855,130463.0,2.145206,0.745025,Restaurants,2.0,0.0,8.0,1.0,NaN,...,1.0,"1,5,8,91,30,48,24","American,Burgers,Desserts,Free Delivery,Fries,...",Y,1.0,1.0,2019-12-21 13:02:32,2020-04-07 01:50:41,3,1
97,856,130464.0,0.251469,0.483632,Restaurants,2.0,0.0,7.0,1.0,NaN,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 13:04:34,2020-04-06 23:53:16,3,1
98,858,130468.0,0.019817,0.587087,Restaurants,2.0,0.0,3.0,1.0,NaN,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 13:12:09,2020-04-07 14:26:08,3,1
99,907,132953.0,13.335131,-1.449556,Restaurants,2.0,0.7,12.0,1.0,NaN,...,1.0,"46,52,16","Fatayers,Mojitos ,Sandwiches",Y,1.0,1.0,2020-01-05 18:56:58,2020-04-06 23:49:52,3,1

In [19]:
vendors.columns.values

array(['id', 'authentication_id', 'latitude', 'longitude',
       'vendor_category_en', 'vendor_category_id', 'delivery_charge',
       'serving_distance', 'is_open', 'OpeningTime', 'OpeningTime2',
       'prepration_time', 'commission', 'is_akeed_delivering',
       'discount_percentage', 'status', 'verified', 'rank', 'language',
       'vendor_rating', 'sunday_from_time1', 'sunday_to_time1',
       'sunday_from_time2', 'sunday_to_time2', 'monday_from_time1',
       'monday_to_time1', 'monday_from_time2', 'monday_to_time2',
       'tuesday_from_time1', 'tuesday_to_time1', 'tuesday_from_time2',
       'tuesday_to_time2', 'wednesday_from_time1', 'wednesday_to_time1',
       'wednesday_from_time2', 'wednesday_to_time2',
       'thursday_from_time1', 'thursday_to_time1', 'thursday_from_time2',
       'thursday_to_time2', 'friday_from_time1', 'friday_to_time1',
       'friday_from_time2', 'friday_to_time2', 'saturday_from_time1',
       'saturday_to_time1', 'saturday_from_time2', 'saturday_to_time2',
       'primary_tags', 'open_close_flags', 'vendor_tag',
       'vendor_tag_name', 'one_click_vendor', 'country_id', 'city_id',
       'created_at', 'updated_at', 'device_type', 'display_orders'],
      dtype=object)

## Merging customer and vendor info

In [20]:
test_ss = cust_loc.assign(key=1).merge(vendors.assign(key=1), on='key').drop('key',axis=1)

In [21]:
test_ss

,gender,dob,status_x,verified_x,language_x,created_at_x,updated_at_x,CID,LOC_NUM,location_type,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at_y,updated_at_y,device_type,display_orders
0,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"2,4,5,8,91,22,12,24,16,23","Arabic,Breakfast,Burgers,Desserts,Free Deliver...",Y,1.0,1.0,2018-01-30 14:42:04,2020-04-07 15:12:43,3,1
1,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"4,41,51,34,27,15,24,16,28","Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...",Y,1.0,1.0,2018-05-03 12:32:06,2020-04-05 20:46:03,3,1
2,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"4,8,91,10","Breakfast,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-05-04 22:28:22,2020-04-07 16:35:55,3,1
3,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"5,8,30,24","Burgers,Desserts,Fries,Salads",Y,1.0,1.0,2018-05-06 19:20:48,2020-04-02 00:56:17,3,1
4,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,5,Burgers,Y,1.0,1.0,2018-05-17 22:12:38,2020-04-05 15:57:41,3,1
5,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"8,42","Desserts,Mexican",Y,1.0,1.0,2018-05-24 17:23:13,2020-04-07 15:04:57,3,1
6,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"1,5,30,16","American,Burgers,Fries,Sandwiches",Y,1.0,1.0,2018-06-20 12:28:00,2020-04-07 16:56:57,3,1
7,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"1,5,30,16","American,Burgers,Fries,Sandwiches",Y,1.0,1.0,2018-06-20 13:11:17,2020-04-07 20:09:27,3,1
8,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"4,8,22,32,24,16,28","Breakfast,Desserts,Grills,Milkshakes,Salads,Sa...",Y,1.0,1.0,2018-07-22 13:18:35,2020-04-02 19:49:47,3,1
9,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"4,5,8,10,24","Breakfast,Burgers,Desserts,Indian,Salads",Y,1.0,1.0,2018-08-09 19:26:57,2020-04-02 11:41:23,3,1
10,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"4,8,22,32,24,16,28","Breakfast,Desserts,Grills,Milkshakes,Salads,Sa...",Y,1.0,1.0,2018-08-09 23:41:57,2020-04-07 12:25:19,3,1
11,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"3,8,9,11,24,54","Asian,Desserts,Healthy Food,Japanese,Salads,Sushi",Y,1.0,1.0,2018-08-22 15:10:17,2020-04-02 00:52:21,3,1
12,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"16,4,5,52","Sandwiches,Breakfast,Burgers,Mojitos",Y,1.0,1.0,2018-08-26 14:45:29,2020-03-24 12:51:21,3,1
13,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"15,34,4,28,27,24,8","Pizzas,Italian,Breakfast,Soups,Pasta,Salads,De...",Y,1.0,1.0,2018-08-26 21:47:55,2020-03-31 22:16:15,3,1
14,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"5,8,91,27,16","Burgers,Desserts,Free Delivery,Pasta,Sandwiches",Y,1.0,1.0,2018-08-26 22:36:05,2020-04-07 17:46:42,3,1
15,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"2,4,8,53,13,24,16","Arabic,Breakfast,Desserts,Mandazi,Omani,Salads...",Y,1.0,1.0,2018-09-01 20:31:13,2020-04-04 13:38:28,3,1
16,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"4,8,12,50,15,24,16","Breakfast,Desserts,Lebanese,Manakeesh,Pizzas,S...",Y,1.0,1.0,2018-09-03 19:30:50,2020-04-07 16:38:17,3,1
17,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"4,8,24,2","Breakfast,Desserts,Salads,Arabic",Y,1.0,1.0,2018-09-13 20:40:13,2020-04-01 22:07:46,3,1
18,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"5,30,48,23","Burgers,Fries,Kids meal,Shawarma",Y,1.0,1.0,2018-09-16 19:37:12,2020-04-07 21:08:27,3,1
19,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"8,13","Desserts,Omani",Y,1.0,1.0,2018-09-16 20:01:04,2020-04-07 10:47:46,3,1
20,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"41,51,8,57,38,43,32,62,25","Cakes,Crepes,Desserts,Donuts,Fresh Juices,Ice ...",Y,1.0,1.0,2018-09-20 19:39:21,2020-04-07 20:00:50,3,1
21,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"1,5,8,52,27","American,Burgers,Desserts,Mojitos ,Pasta",Y,1.0,1.0,2018-10-04 19:41:36,2020-04-05 15:46:35,3,1
22,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"3,38,48","Asian,Fresh Juices,Kids meal",Y,1.0,1.0,2018-10-07 17:26:18,2020-04-07 15:05:22,3,1
23,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"1,5,91,29,27","American,Burgers,Free Delivery,Hot Dogs,Pasta",Y,1.0,1.0,2018-10-18 21:01:20,2020-04-03 22:28:50,3,1
24,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"1,5,91,29,27","American,Burgers,Free Delivery,Hot Dogs,Pasta",Y,1.0,1.0,2018-10-19 12:38:55,2020-04-07 23:41:41,3,1
25,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"1,5,91,29,27","American,Burgers,Free Delivery,Hot Dogs,Pasta",Y,1.0,1.0,2018-10-19 13:35:56,2020-04-06 14:01:21,3,1
26,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"3,58,22,11,33,28","Asian,Dimsum,Grills,Japanese,Rice,Soups",Y,1.0,1.0,2018-10-21 22:21:40,2020-04-07 19:29:21,3,1
27,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"2,8,91,10","Arabic,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-10-24 18:11:35,2020-04-07 23:51:01,3,1
28,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"8,91,9,56","Desserts,Free Delivery,Healthy Food,Sweets",Y,1.0,1.0,2018-10-28 13:34:59,2020-04-06 13:44:19,3,1
29,Male,2562.0,1.0,1.0,EN,2019-04-03 12:10:18,2019-04-03 12:10:18,A4MOSNP,0,Home,...,1.0,"5,9,32,16,35","Burgers,Healthy Food,Milkshakes,Sandwiches,Steaks",Y,1.0,1.0,2018-11-27 15:33:42,2020-04-03 23:02:50,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1671970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"60,38,61,16,36","Coffee,Fresh Juices,Hot Chocolate,Sandwiches,S...",Y,1.0,1.0,2019-07-02 14:50:31,2020-03-31 13:23:57,3,1
1671971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,4,5,30,16","American,Breakfast,Burgers,Fries,Sandwiches",Y,1.0,1.0,2019-07-03 10:38:21,2020-04-02 12:35:56,3,1
1671972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"26,8,24","Bagels,Desserts,Salads",Y,1.0,1.0,2019-07-08 13:19:46,2020-04-06 17:42:15,3,1
1671973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,48,27,15,24","American,Kids meal,Pasta,Pizzas,Salads",Y,1.0,1.0,2019-07-25 13:07:10,2020-04-07 21:53:47,3,1
1671974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,80,Churros,Y,1.0,1.0,2019-08-07 15:36:33,2020-04-08 03:45:41,3,1
1671975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,4,5,8,34,24,16,28,35","American,Breakfast,Burgers,Desserts,Italian,Sa...",Y,1.0,1.0,2019-08-08 14:16:34,2020-04-02 00:51:51,3,1
1671976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"13,2,77,27,33,28,12","Omani,Arabic,Shuwa,Pasta,Rice,Soups,Lebanese",Y,1.0,1.0,2019-08-19 19:04:11,2020-04-07 00:08:11,3,1
1671977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"64,36","Frozen yoghurt,Smoothies",Y,1.0,1.0,2019-08-20 15:10:28,2020-04-06 00:50:19,3,1
1671978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"2,71,16","Arabic,Kushari,Sandwiches",Y,1.0,1.0,2019-08-27 15:53:48,2020-04-07 18:40:46,3,1
1671979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"5,91,32,52","Burgers,Free Delivery,Milkshakes,Mojitos",Y,1.0,1.0,2019-09-10 19:04:26,2020-04-06 15:19:49,3,1
1671980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,5,8,91,30,29,48","American,Burgers,Desserts,Free Delivery,Fries,...",Y,1.0,1.0,2019-10-15 00:42:12,2020-04-07 18:28:08,3,1
1671981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"38,12,16,23","Fresh Juices,Lebanese,Sandwiches,Shawarma",Y,1.0,1.0,2019-10-21 15:38:18,2020-04-07 03:23:15,3,1
1671982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"5,8,91,27,16","Burgers,Desserts,Free Delivery,Pasta,Sandwiches",Y,1.0,1.0,2019-01-30 12:53:54,2020-04-07 23:22:42,3,1
1671983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"60,62,86,25","Coffee,Pancakes,Spanish Latte,Waffles",Y,1.0,1.0,2018-11-01 12:13:53,2020-04-04 01:06:01,3,1
1671984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"5,8,49,24","Burgers,Desserts,Family Meal,Salads",Y,1.0,1.0,2018-10-02 17:11:04,2020-04-04 19:29:43,3,1
1671985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"38,16,23","Fresh Juices,Sandwiches,Shawarma",Y,1.0,1.0,2019-10-21 13:10:10,2020-04-05 12:01:26,3,1
1671986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"38,16,23","Fresh Juices,Sandwiches,Shawarma",Y,1.0,1.0,2019-10-21 14:36:50,2020-04-06 23:12:29,3,1
1671987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"38,16,23","Fresh Juices,Sandwiches,Shawarma",Y,1.0,1.0,2019-10-22 07:29:36,2020-04-07 20:09:45,3,1
1671988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"31,8,10,44,33","Biryani,Desserts,Indian,Kebabs,Rice",Y,1.0,1.0,2019-11-17 08:39:42,2020-04-07 15:31:12,3,1
1671989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"31,8,10,44,33","Biryani,Desserts,Indian,Kebabs,Rice",Y,1.0,1.0,2019-11-17 13:27:17,2020-04-07 21:46:01,3,1
1671990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"31,8,10,44,33","Biryani,Desserts,Indian,Kebabs,Rice",Y,1.0,1.0,2019-11-18 08:07:10,2020-04-07 17:40:41,3,1
1671991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 00:16:09,2020-04-07 15:09:12,3,1
1671992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 12:31:16,2020-04-07 19:01:17,3,1
1671993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 12:37:34,2020-04-08 03:43:30,3,1
1671994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 12:40:36,2020-04-06 16:19:44,3,1
1671995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 12:47:39,2020-04-07 20:01:33,3,1
1671996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,5,8,91,30,48,24","American,Burgers,Desserts,Free Delivery,Fries,...",Y,1.0,1.0,2019-12-21 13:02:32,2020-04-07 01:50:41,3,1
1671997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 13:04:34,2020-04-06 23:53:16,3,1
1671998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"1,4,5,6,8,91,30,43,48,24","American,Breakfast,Burgers,Cafe,Desserts,Free ...",Y,1.0,1.0,2019-12-21 13:12:09,2020-04-07 14:26:08,3,1
1671999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G49BIQ7,0,Home,...,1.0,"46,52,16","Fatayers,Mojitos ,Sandwiches",Y,1.0,1.0,2020-01-05 18:56:58,2020-04-06 23:49:52,3,1

In [22]:
test_ss.to_csv("test_ss.csv",index=False)

## Submission sample

In [18]:
SS.head()

  CID X LOC_NUM X VENDOR  target
0      Z59FTQD X 0 X 243       0
1      0JP29SK X 0 X 243       0
2      0JP29SK X 1 X 243       0
3      0JP29SK X 2 X 243       0
4      0JP29SK X 3 X 243       0

In [19]:
len(SS)

1048575

In [20]:
SS['CID X LOC_NUM X VENDOR']=SS['CID X LOC_NUM X VENDOR'].astype(str)

In [21]:
#SS['CID']=SS['CID X LOC_NUM X VENDOR'].str[0:8]
#SS['LOC_NUM']=SS['CID X LOC_NUM X VENDOR'].str[10]
#SS['VENDOR']=SS['CID X LOC_NUM X VENDOR'].str[13:17]

In [22]:
SS['CID'] = SS['CID X LOC_NUM X VENDOR'].apply(lambda x: x.split(' X ')[0])
SS['LOC_NUM'] = SS['CID X LOC_NUM X VENDOR'].apply(lambda x: x.split(' X ')[1])
SS['VENDOR'] = SS['CID X LOC_NUM X VENDOR'].apply(lambda x: x.split(' X ')[2])

In [23]:
SS

        CID X LOC_NUM X VENDOR  target      CID LOC_NUM VENDOR
0            Z59FTQD X 0 X 243       0  Z59FTQD       0    243
1            0JP29SK X 0 X 243       0  0JP29SK       0    243
2            0JP29SK X 1 X 243       0  0JP29SK       1    243
3            0JP29SK X 2 X 243       0  0JP29SK       2    243
4            0JP29SK X 3 X 243       0  0JP29SK       3    243
...                        ...     ...      ...     ...    ...
1048570       BB4J9W3 X 2 X 44       0  BB4J9W3       2     44
1048571       VYQ6H7K X 0 X 44       0  VYQ6H7K       0     44
1048572       VYQ6H7K X 1 X 44       0  VYQ6H7K       1     44
1048573       MB88K6D X 0 X 44       0  MB88K6D       0     44
1048574       MB88K6D X 1 X 44       0  MB88K6D       1     44

[1048575 rows x 5 columns]

In [24]:
#SS.to_csv("SS.csv",index=False)

In [25]:
print(SS['VENDOR'].value_counts().sort_values())
print(len(SS))

44     11935
197    16720
55     16720
90     16720
92     16720
       ...
289    16720
81     16720
82     16720
157    16720
161    16720
Name: VENDOR, Length: 63, dtype: int64
1048575

## Merging SS with customer details based on CID and LOC_NUM (adding VENDOR)

In [26]:
cust_loc['LOC_NUM']=cust_loc['LOC_NUM'].astype(str)

In [27]:
test = pd.merge(SS, cust_loc, on=['CID','LOC_NUM'], how='left')

In [28]:
test

,CID X LOC_NUM X VENDOR,target,CID,LOC_NUM,VENDOR,gender,dob,status,verified,language,created_at,updated_at,location_type,latitude,longitude
0,Z59FTQD X 0 X 243,0,Z59FTQD,0,243,NaN,NaN,1.0,1.0,NaN,2020-02-09 21:54:25,2020-02-09 21:54:41,NaN,126.032278,-9.106019
1,0JP29SK X 0 X 243,0,0JP29SK,0,243,Male,NaN,1.0,1.0,EN,2019-02-18 00:55:22,2019-02-18 00:55:21,Home,0.278709,-78.623847
2,0JP29SK X 1 X 243,0,0JP29SK,1,243,Male,NaN,1.0,1.0,EN,2019-02-18 00:55:22,2019-02-18 00:55:21,Home,0.124485,-78.605621
3,0JP29SK X 2 X 243,0,0JP29SK,2,243,Male,NaN,1.0,1.0,EN,2019-02-18 00:55:22,2019-02-18 00:55:21,NaN,-0.113891,-78.577449
4,0JP29SK X 3 X 243,0,0JP29SK,3,243,Male,NaN,1.0,1.0,EN,2019-02-18 00:55:22,2019-02-18 00:55:21,NaN,-0.848796,0.136726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,BB4J9W3 X 2 X 44,0,BB4J9W3,2,44,NaN,NaN,1.0,1.0,EN,2019-08-28 02:23:28,2019-10-01 18:55:27,Other,0.779788,0.519216
1048571,VYQ6H7K X 0 X 44,0,VYQ6H7K,0,44,Male,NaN,1.0,1.0,EN,2019-05-08 21:45:33,2019-05-08 21:45:33,Work,-0.249000,-78.561482
1048572,VYQ6H7K X 1 X 44,0,VYQ6H7K,1,44,Male,NaN,1.0,1.0,EN,2019-05-08 21:45:33,2019-05-08 21:45:33,Work,-0.246769,0.447532
1048573,MB88K6D X 0 X 44,0,MB88K6D,0,44,Male,NaN,1.0,1.0,EN,2019-04-17 06:25:42,2019-04-17 06:25:41,Work,0.001011,-78.591029
1048574,MB88K6D X 1 X 44,0,MB88K6D,1,44,Male,NaN,1.0,1.0,EN,2019-04-17 06:25:42,2019-04-17 06:25:41,Home,0.000682,0.431627

## Merging vendor info based on vendor number

In [31]:
test['VENDOR']=test['VENDOR'].astype(int)

In [43]:
all_test=pd.merge(test,vendors,how="left",left_on='VENDOR',right_on='id')
del all_test['target']
all_test

,CID X LOC_NUM X VENDOR,CID,LOC_NUM,VENDOR,gender,dob,status_x,verified_x,language_x,created_at_x,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at_y,updated_at_y,device_type,display_orders
0,Z59FTQD X 0 X 243,Z59FTQD,0,243,NaN,NaN,1.0,1.0,NaN,2020-02-09 21:54:25,...,1.0,NaN,NaN,Y,1.0,1.0,2019-05-07 14:32:20,2020-02-28 20:43:35,3,1
1,0JP29SK X 0 X 243,0JP29SK,0,243,Male,NaN,1.0,1.0,EN,2019-02-18 00:55:22,...,1.0,NaN,NaN,Y,1.0,1.0,2019-05-07 14:32:20,2020-02-28 20:43:35,3,1
2,0JP29SK X 1 X 243,0JP29SK,1,243,Male,NaN,1.0,1.0,EN,2019-02-18 00:55:22,...,1.0,NaN,NaN,Y,1.0,1.0,2019-05-07 14:32:20,2020-02-28 20:43:35,3,1
3,0JP29SK X 2 X 243,0JP29SK,2,243,Male,NaN,1.0,1.0,EN,2019-02-18 00:55:22,...,1.0,NaN,NaN,Y,1.0,1.0,2019-05-07 14:32:20,2020-02-28 20:43:35,3,1
4,0JP29SK X 3 X 243,0JP29SK,3,243,Male,NaN,1.0,1.0,EN,2019-02-18 00:55:22,...,1.0,NaN,NaN,Y,1.0,1.0,2019-05-07 14:32:20,2020-02-28 20:43:35,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,BB4J9W3 X 2 X 44,BB4J9W3,2,44,NaN,NaN,1.0,1.0,EN,2019-08-28 02:23:28,...,1.0,"1,5,30,16","American,Burgers,Fries,Sandwiches",Y,1.0,1.0,2018-06-20 13:11:17,2020-04-07 20:09:27,3,1
1048571,VYQ6H7K X 0 X 44,VYQ6H7K,0,44,Male,NaN,1.0,1.0,EN,2019-05-08 21:45:33,...,1.0,"1,5,30,16","American,Burgers,Fries,Sandwiches",Y,1.0,1.0,2018-06-20 13:11:17,2020-04-07 20:09:27,3,1
1048572,VYQ6H7K X 1 X 44,VYQ6H7K,1,44,Male,NaN,1.0,1.0,EN,2019-05-08 21:45:33,...,1.0,"1,5,30,16","American,Burgers,Fries,Sandwiches",Y,1.0,1.0,2018-06-20 13:11:17,2020-04-07 20:09:27,3,1
1048573,MB88K6D X 0 X 44,MB88K6D,0,44,Male,NaN,1.0,1.0,EN,2019-04-17 06:25:42,...,1.0,"1,5,30,16","American,Burgers,Fries,Sandwiches",Y,1.0,1.0,2018-06-20 13:11:17,2020-04-07 20:09:27,3,1
1048574,MB88K6D X 1 X 44,MB88K6D,1,44,Male,NaN,1.0,1.0,EN,2019-04-17 06:25:42,...,1.0,"1,5,30,16","American,Burgers,Fries,Sandwiches",Y,1.0,1.0,2018-06-20 13:11:17,2020-04-07 20:09:27,3,1

In [44]:
all_test.columns.values

array(['CID X LOC_NUM X VENDOR', 'CID', 'LOC_NUM', 'VENDOR', 'gender',
       'dob', 'status_x', 'verified_x', 'language_x', 'created_at_x',
       'updated_at_x', 'location_type', 'latitude_x', 'longitude_x', 'id',
       'authentication_id', 'latitude_y', 'longitude_y',
       'vendor_category_en', 'vendor_category_id', 'delivery_charge',
       'serving_distance', 'is_open', 'OpeningTime', 'OpeningTime2',
       'prepration_time', 'commission', 'is_akeed_delivering',
       'discount_percentage', 'status_y', 'verified_y', 'rank',
       'language_y', 'vendor_rating', 'sunday_from_time1',
       'sunday_to_time1', 'sunday_from_time2', 'sunday_to_time2',
       'monday_from_time1', 'monday_to_time1', 'monday_from_time2',
       'monday_to_time2', 'tuesday_from_time1', 'tuesday_to_time1',
       'tuesday_from_time2', 'tuesday_to_time2', 'wednesday_from_time1',
       'wednesday_to_time1', 'wednesday_from_time2', 'wednesday_to_time2',
       'thursday_from_time1', 'thursday_to_time1', 'thursday_from_time2',
       'thursday_to_time2', 'friday_from_time1', 'friday_to_time1',
       'friday_from_time2', 'friday_to_time2', 'saturday_from_time1',
       'saturday_to_time1', 'saturday_from_time2', 'saturday_to_time2',
       'primary_tags', 'open_close_flags', 'vendor_tag',
       'vendor_tag_name', 'one_click_vendor', 'country_id', 'city_id',
       'created_at_y', 'updated_at_y', 'device_type', 'display_orders'],
      dtype=object)

In [45]:
all_test[['CID X LOC_NUM X VENDOR', 'CID', 'LOC_NUM', 'VENDOR','id']]

        CID X LOC_NUM X VENDOR      CID LOC_NUM  VENDOR   id
0            Z59FTQD X 0 X 243  Z59FTQD       0     243  243
1            0JP29SK X 0 X 243  0JP29SK       0     243  243
2            0JP29SK X 1 X 243  0JP29SK       1     243  243
3            0JP29SK X 2 X 243  0JP29SK       2     243  243
4            0JP29SK X 3 X 243  0JP29SK       3     243  243
...                        ...      ...     ...     ...  ...
1048570       BB4J9W3 X 2 X 44  BB4J9W3       2      44   44
1048571       VYQ6H7K X 0 X 44  VYQ6H7K       0      44   44
1048572       VYQ6H7K X 1 X 44  VYQ6H7K       1      44   44
1048573       MB88K6D X 0 X 44  MB88K6D       0      44   44
1048574       MB88K6D X 1 X 44  MB88K6D       1      44   44

[1048575 rows x 5 columns]

In [46]:
del all_test['id']

In [47]:
all_test.to_csv("test.csv")

In [33]:
## Reduce memory usage
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [35]:
#cust_loc=reduce_mem_usage(cust_loc)
#SS=reduce_mem_usage(SS)

In [36]:
#cust_loc=cust_loc.assign(key=1).merge(vendors.assign(key=1), on='key').drop('key',axis=1)

In [37]:
#cust_loc

In [38]:
#cust_loc.columns.values

In [39]:
#cust_loc['CID X LOC_NUM X VENDOR'] = cust_loc['customer_id'] +' X '+ cust_loc['location_number_obj'] +' X '+ cust_loc['id']

In [40]:
#test_f=cust_loc[['customer_id','location_number','id']]

In [41]:
#test_f